
<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
    <link    rel="stylesheet"       href="{% static 'core/style.css' %}" />
	<script  type="text/javascript" src="{% static 'core/jquery-1.8.3.min.js' %}"></script>
	<script  type="text/javascript" src="{% static 'core/asyn.js' %}" > </script>

    <title>{% block title %}Ping Pong{% endblock %}</title>
</head>

<body>
	<div id="container">
    <div id="header">
        {% block header %}
			{% include "header.html" %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}
			{% include "menu.html" %}
		{% endblock %}
    </div>
	</div>
</body>
</html>
